[Desktop Entry]
Version=1.0
Type=Application
Name=Install Arch
Comment=
Exec=sudo archinstall
Icon=archlinux-logo
Path=
Terminal=true
StartupNotify=false
